*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


nav{
    width: 100%;
    height: 70px;
    line-height: 70px;
    padding: 0px 70px;
    position: fixed;
    background-image: linear-gradient(#033747,#0127);
}

nav .logo p span {
    color: #dd562c;
}

nav .logo p{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.7px;
}

nav ul{
    float: right;
}

 nav li{
    display: inline-block;
    list-style: none;
} 

nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 20px;
    color: white;
    text-decoration: none;
    
}

nav li a:hover{
    color: #ff8c69;
    transition: all 0.4s ease 0s;
}

nav .logo p span:hover{
    color: #033747;
    transition: all 0.4s ease 0s;
}

button{
    font-size: 16px;
    text-transform: uppercase;
    padding: 0px 20px;
    text-decoration: none;
    margin-left: 80px;
    border-radius: 40px;
}

button:hover{
    background-color: #ff8c69;
}

button:after{
    background-color: #033747;
}